body {
  font-family: 'Patrick Hand';font-size: 22px;
  background-color:rgb(47, 43, 77);
  margin: 0;
  padding: 0;
}
.top{
  background-color: rgb(160, 221, 99);
  width: 100%;
  height: auto;
  overflow: auto;
}
.top div{
  float: left;
  text-align: center;
}
#title{
  width: 50%;
  font-size: 40pt;
  font-weight:bolder;
}
#clock{
  width: 25%;
  height: 100%;
  font-size: 30pt;
  padding-top: 10px;
}
#points{
  width: 25%;
  height: 40px;
  font-size: 30pt;
}
#highscore{
  width: 25%;
  font-size: 15pt;
}
#levelContainer{
  width: 100%;
  height: 20px;
  background-color: white;
  font-size: 18pt;
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  text-align: center;
  font-weight: bolder;
  font-stretch: ultra-expanded;
  padding-top: 2px;
}
#levelContainer #expBar{
  height: 18px;
  width: 100%;
  float: left;
  background-color: #0970ed;
}
#levelContainer span{
  position: absolute;
  left: 47%;
  top: 65px;
}
#fps{
  color: lime;
  position: absolute;
}
#sound{
  position: abs;
  float: right;
  top: 5px;
}
.sound{
  height: 50px;
  width: 60px;
  float: left;
}
.sound img{
  position: absolute;
}
.Container{
  background-color: transparent;
  height: 50px;
  width: 50px;
  position: absolute;
  border-radius: 25px;
  transition: height 0.5s ease-in-out, background-color 0.5s ease-in-out;
}
.sound:hover > .Container{
  height: 150px;
  background-color: #aaaaaa;
}
.sound:hover .volBar{
  height: 80px;
  visibility: visible;
  margin-top: 55px; 
}
.volBar{
  height: 0px;
  width: 10px;
  margin-top: 25px; 
  writing-mode:vertical-lr;
  position: absolute;
  margin-left: 20px;
  visibility: hidden;
  transition: height 0.5s ease-in-out, margin-top 0.5s ease-in-out, visibility 0.1s ease-in 0.2s;
}
#canvasContainer{
  width: 100%;
  text-align: center;
  position: absolute;
  margin-top: 50px;
}
#myCanvas {
  border: 5px solid #d3d3d3;
  position: absolute;
  background-color: transparent;
}
#bgCanvas {
  border: 5px solid #d3d3d3;
  display: inline;
}
#snek_sheet{
  display: none;
}