body {
  font-family: 'Patrick Hand';font-size: 22px;
  background-color:rgb(47, 43, 77);
  margin: 0;
  padding: 0;
}
.top{
  background-color: rgb(160, 221, 99);
  width: 100%;
  height: 48px;
  overflow: auto;
}
.top div{
  height: auto;
  float: left;
  font-size: 25pt;
  text-align: center;
}
#title{
  width: 50%;
  font-weight:bolder;
}
#clock{
  width: 25%;
}
#points{
  width: 25%;
}
#fps{
  color: lime;
  position: absolute;
}
#sound{
  position: relative;
  float: right;
  top: 5px;
}
.sound{
  height: 50px;
  width: 60px;
  float: left;
}
.sound img{
  position: absolute;
}
.Container{
  background-color: transparent;
  height: 50px;
  width: 50px;
  position: absolute;
  border-radius: 25px;
  transition: height 0.5s ease-in-out, background-color 0.5s ease-in-out;
}
.sound:hover > .Container{
  height: 150px;
  background-color: #aaaaaa;
}
.sound:hover .volBar{
  height: 80px;
  visibility: visible;
  margin-top: 55px; 
}
.volBar{
  height: 0px;
  width: 10px;
  margin-top: 25px; 
  writing-mode:vertical-lr;
  position: absolute;
  margin-left: 20px;
  visibility: hidden;
  transition: height 0.5s ease-in-out, margin-top 0.5s ease-in-out, visibility 0.1s ease-in 0.2s;
}
#canvasContainer{
  width: 100%;
  text-align: center;
}
#myCanvas {
  border: 5px solid #d3d3d3;
  position: absolute;
  background-color: transparent;
}
#bgCanvas {
  border: 5px solid #d3d3d3;
  display: inline;
}
#snek_sheet{
  display: none;
}